.parent li {
  list-style: none;
  transition: opacity 2s ease-out;
}

.parent li .link {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  z-index: 10000;
  transform: translateX(-15px);
}

.marker {
  position: absolute;
  left: 0px;
  top: 15px;
  width: 70px;
  height: 70px;
  background: #7077a1;
  border-radius: 50%;
  border-right: 2px solid #2d3250;
  border-top: 2px solid #2d3250;
  box-shadow: 0 0 0 15px #7077a1, 0 2px 0 9px #2d3250;
}

.marker::before {
  content: '';
  position: absolute;
  left: 5px;
  top: -27px;
  width: 25px;
  height: 10px;
  background: transparent;
  border-bottom-left-radius: 10px;
  box-shadow: -7px 7px 0 7px #7077a1;
}

.marker::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 5px;
  width: 25px;
  height: 10px;
  background: transparent;
  border-top-left-radius: 10px;
  box-shadow: -7px -7px 0 7px #7077a1;
}

.marker span {
  position: absolute;
  top: 20px;

  width: 70%;
  left: -110%;
  height: 30px;
  background: #7077a1;
  box-shadow: 0 0 0 2px #2d3250, 0 -2px 0 1px #424769;
  border-radius: 20px;
  border-right: 1px solid #424769;
  border-bottom: 1px solid #424769;
}
