* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-image: url('/images/image7.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #7077a1;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  justify-content: center;
  min-height: 100vh;
  /* margin-left: 60vw; */
}
