.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal {
  position: relative;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  /* overflow: hidden; */
  z-index: 1;
}

input {
  width: 30rem;
  height: 5rem;
  caret-color: red;
  color: #2d3250;
  font-size: 30px;
  z-index: 3;
  padding: 2rem;
  border-radius: 5px;
}
